*{

    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'SF Pro Display', sans-serif;
    

}

body{

    background-color: #000000;
    height: 100vh;

}

.container{
    max-width:1265px;
    margin:0 auto;
    background-color: black;
    display:flex;
}
 
.sidebar{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border-right:1px solid #2F3336;
  padding:20px;
  position:sticky;
  top:0;
  height:100vh;
}

.sidebar-head{
    color:white;
    font-weight:700;
    font-size:19px;
}

.side-bar-menu{
    margin:10px 20px;
    padding:15px 0px;

}

.side-bar-menu > ul{
    list-style-type: none;
    display:flex;
    flex-direction:column;
    gap:30px;
    margin-bottom: 30px;

}

.side-bar-menu > ul > li{
    display:flex;
    gap:24px;

}

.twitter-button:focus,.twitter-button{
    outline:none;
    border: none;
    font-size:17px;
    font-weight:500;
    background-color: #1D9BF0;
    color:white;
    border-radius:32px;
    padding:17px 80px;
    cursor: pointer;

}

.profile{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    font-weight:bold;
    margin-bottom:30px;
}

.profile-detail{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
}


.profile-username{
    font-weight:bold;
    color:#6E767D;
}

/* .timeline{
   
} */

.timeline-editor{
    display:flex;
    padding:17px 19px;
}

.timeline-title{
    display:flex;
    color:white;
    font-weight:700;
    font-size:20px;
    justify-content:space-between;
    padding:17px 19px;
  
}

.timeline-title-border{
    border-bottom:1px solid  #2F3336;
}

.timeline-editor-main > textarea{
    resize: none;
    background-color:black;
    border:none;
    color:white;
    font-size:16px;
    border-radius: 4px;
    font-weight: 200 !important;
    padding:14px 10px;
    height:3em;
    overflow:hidden;
    width:100%;
}

.timeline-editor-main{
    width:100%;
}

.timeline-editor-main > textarea:focus{
    outline:none;
}

.timeline-editor-main > textarea::placeholder{
    font-size:20px;
}

.sub-btn{
    padding:12px 20px !important;
}

.timeline-editor-main-sub{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.timeline-editor-border{
    border-bottom:1px solid  #2F3336;
}

.border{
    border-bottom:1px solid  #2F3336;
}

.timeline-post{
    display:flex;
    padding:17px 19px;

}

.post-detail{
    display:flex;
    flex-direction:column;
   
}

.username-detail{
    display:flex;
    justify-content:flex-start;
}

.action > ul{
    display:flex;
    list-style-type:none;
    color:#6E767D;
    gap:30px;
}

.action > ul > li{
    display:flex;
    align-items:center;
    gap:10px;
  
}

.post-content p{
    color:#D9D9D9;

}


.username-detail{
    display:flex;
    gap:5px;
    align-items:center;
    margin-bottom:10px;
}

.post-content{
    margin-bottom:10px;
}


.username-detail-userhead{
    color:#D9D9D9;
    font-weight:700;
}

.username-detail-sub{
    font-weight:200;
    color:#6E767D;
}

.post-detail{
    padding-left:15px;
}

.post-content > .image-back{
    margin-top:20px;
    width:100%;
    height:250px;
    border-radius:25px;
    border-radius:2px solid #2F3336;
    background-image: url('./assets/timeline-assets/image\ .png');
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;

}

.trends-border{
    border-left:1px solid #2F3336;
}

.trends{
    padding-left:20px !important;
    padding:15px 0px;
    height:100vh;
    position:sticky;
    top:0;

}

.trend-search{
    background-color: #202327;
    border-radius:50px;
    padding:12px 15px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:20px;
    margin-bottom:10px;
}

.trend-search > i{
    color:#6E767D;
}

.trend-search > input{
    background-color:#202327;
    border:none;
    color:#6E767D;
    font-size:15px;
    padding-right:10px;
}

.trend-search > input::placeholder{
    color:#6E767D;
}

.trend-search > input:focus{
    outline:none;
}

.trends-main-card{
    background-color: #202327;
    border-radius:20px;
    padding:15px 25px;

}

.trends-main-card:not(:last-of-type){
    margin-bottom:10px;
}

.trends-title{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#EFF3EF;
    margin-bottom :25px;
}

.trends-title >h1{
    font-size:16px;
}

.trends-content{
    display:flex;
    flex-direction:column;
    gap:7px;
}

.trends-content-title{
    display:flex;
    justify-content:space-between;
    color:#6E767D;
 
}

.trends-content-title > p{
    font-size:13px;
}

.trends-content-hastag{
    color:#D9D9D9;
    font-weight:700;
    font-size:15px;
}

.trends-content-twit-counter{
    color:#6E767D;
}

.trends-main-content{
    display:flex;
    flex-direction:column;
    gap:7px;
}

.trends-main-card-content{
    margin-bottom: 20px;
}

.showMore{
    cursor:pointer;
    font-weight:700;
    font-size:16px;
    color:#1D9BF0;
}

.trends-follow-card{
    display:flex;
    gap:15px;
    align-items:center;
    margin-bottom:20px;

}

.user-follow{
    display:flex;
    align-items:center;
    gap:5px;
    color:#D9D9D9;
}

.user-follow > p{
    font-size:15px;
    font-weight:700;
    white-space:nowrap;

}

.follow-detail > p{
    color:#6E767D;
}

.btn-follow{
    display:flex;
    align-items:center;


}

.btn-follow > button {
    font-size:14px;
    background-color:#EFF3EF;
    color:black;
    font-weight:200;
    border:none;
    cursor: pointer;
    border-radius:32px;
    padding:10px 30px;
}

.btn-follow > button:focus{
    outline:none;
}

@media screen and (max-width:1130px){

    .trends-border{
        display:none;
    }
    
}

@media screen and (max-width:750px) {
    .sidebar-head{
        display:none;
    }
    .profile-detail{
        display:none;
    }
    .twitter-button{
        display:none;
    }
    .side-bar-menu > ul > li{
        justify-content:center;
    }
    .profile-more{
        display:none;
    }
   .profile{
        justify-content:center;
   }
}

@media screen and (max-width:570px) {
    .action > ul > li:nth-of-type(4){
        display:none;
    }
}